<% include ../partials/header %>
<div class="container main">
    <div class="row mt-5">
        <div class="col-sm-12 text-center">
            <p class="filters">
                <a href="/tags">all</a>
                /
                <a href="/tags/people/photos">people</a>
                /
                <a href="/tags/places/photos">places</a>
                /
                <a href="/tags/things/photos">things</a>
                /
                <a href="/tags/animals/photos">animals</a>
            </p>
        </div>
    </div>
    <div class="row mt-5">
    <% photos.forEach( (photo) => { %>
        <div class="col-xl-3 col-md-4 col-sm-6 d-flex justify-content-center align-items-center mb-5">
            <a href="/photos/<%= photo._id %>">
                <img src="<%= photo.image.thumb %>" alt="<%= photo.alt %>" class="img-fluid thumb-shadow">
            </a>
        </div>
    <% }); %>
    </div>
</div>

<% include ../partials/footer %>

