* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f8f9fa;
  color: rgba(0, 0, 0, 0.7);
}

.main.container {
  min-height: calc(100vh - 120px);
}

.navbar {
  height: 80px;
}

.navbar-brand {
  letter-spacing: 3px;
}

.filters a,
a.return-link {
  color: rgba(0, 0, 0, 0.7);
}

.contact-exclamation {
  opacity: 0;
  transition: all 0.1s ease-out;
}

.contact:hover .contact-exclamation {
  opacity: 1;
}

.inline {
  display: inline;
}

.thumb-shadow {
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #b3b3b3;
}

footer {
  height: 15px;
}

.title-spacing {
  letter-spacing: 5px;
}
