<% include ../partials/header %>

<div class='container main'>

    <div class="row">

        <div class="col-sm-12 text-center title-spacing">
            <h1>Forgot Password</h1>
        </div>
        
        <div class="col-md-4 offset-md-4 mt-4">
            <form action="/forgot" method="POST">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" autofocus placeholder="email">
                </div>
                <button class="btn btn-large btn-dark">Reset Password</button>
            </form>
            <a href="/login" class="return-link">&lsaquo; Go Back</a>
        </div>

    </div>

</div>

<% include ../partials/footer %>